/*import custom font*/
@import url('https://fonts.googleapis.com/css2?family=Cousine&display=swap');

body {
  margin: 5vh 5vw;
  font-family: 'Cousine', sans-serif;
  background: #9b9fb2;
  background-image: url(../images/summerwater.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  /* background-attachment: fixed; */
}
#logo{
  line-height: 60px;
  margin-left: 4em;
  display: inline-block;
  cursor: pointer;
  font-size: 30px;
  font-weight: bold;
  color: #275ef5;
}
section{
  margin-top: 40px;
}
h1{
  font-size: -20rem;
  color: rgb(255, 255, 255);
}
p{
  color: rgb(255, 255, 255);
}
.landing{
  height: 7rem;
  text-align: center;
}
.land{
  text-align: center;
}
h3{
  width: 100px;
}

.card {
  background:  #f3f3f3da;
  color: rgb(0, 0, 0);
  padding: 2em;
  width: 100%;
  max-width: 420px;
  margin: 1em;
  margin-left: -4%;
}
.info{
  text-align: center;
}
#stad{
  font-size: 60px;
}

.beschrijving{
 font-size: 60px;
 color: #275ef586;
}

.search {
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  margin: 0.5em;
  border-radius: 20%;
  border: none;
  height: 44px;
  width: 5rem;
  outline: none;
  background: #a80101;
  color: rgb(255, 255, 255);
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

input.search-bar {
  border: none;
  outline: none;
  padding: 0.4em 1em;
  border-radius: 10px;
  background: #7c7c7c2b;
  color: rgba(255, 0, 0, 0.562);
  font-family: inherit;
  font-size: 105%;
  width: calc(100% - 100px);
}

button:hover {
  background: #7c7c7c6b;
  color: #ff0000;
  font-size: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.temp {
  margin: 0;
  margin-bottom: 0.4em;
}

.flex {
  display: flex;
  align-items: center;
}

.description {
  text-transform: capitalize;
  margin-left: 8px;
}

#map {
  height: 70vh;
  width: 90;
  margin-top: -15px;
}

#testId{
  color: #27f5a6;
}
 .mapboxgl-popup-close-button {
  font-size: 16px;
  color: rgb(255, 255, 255);
}
.mapboxgl-popup-content {
  padding: 20px 25px 15px 20px;
  color: rgb(255, 251, 251);
  background-color: #175641;
}
.mapboxgl-popup-content h3 {
  margin-top: 0;
  margin-bottom: 4px;
}
.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip {
  border-top-color: #175641;
} 
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #f52727;
  opacity: 80%;
  color: white;
  text-align: center;
}
@media only screen and (min-width: 520px) {

  .card{
    margin-left: 5%;
  }
  .map{
    height: 200px;
  }
 

@media only screen and (min-width: 700px) {

  #logo{
    line-height: 60px;
  }
  .card{
    margin-left: 10%;
  }
  


@media only screen and (min-width: 800px) {

  #logo{
    line-height: 60px;
    margin-left: -5px;
    width: 50%;
  }
  h1{
    font-size: -20rem;
    color: rgb(0, 0, 0);
  }
  p{
    color: rgb(0, 0, 0);
  }
  .landing{
    float: left;
    width: 25%;
    position: absolute;
    margin-top: -10px;
    background: #f3f3f3da;
    padding: 10px;
    height: 8rem;
  }
  .land{
    float: right;
    width: 65%;
    margin-top: -10px;
    background:  #f3f3f3da;
    padding: 10px;
  }
  .card {
    margin-left: 20%;
    float: right;
  }
  #map {
    width: calc(100% - 800px);
    margin-top: -23rem;
    width: 15rem;
    height: 22rem;
    float: left;
  }

  @media only screen and (min-width: 900px) {

    .card {
      margin-left: 60%;
      float: right;
      width: calc(100% - 50%);
    }
    #map {
      width: calc(100% - 62%);
      margin-top: -23rem;
      width: 20rem;
      height: 22rem;
      float: left;
    }
    .landing{
      width: calc(100% - 62%);
    }
    .land{
      width: calc(100% - 50%);
    }
@media only screen and (min-width: 1100px) {

      .card {
        float: right;
        width: 25%;
      }
      #map {
        width: calc(100% - 200px);
        width: 65%;
        margin-top: -24rem;
        height: 23rem;
      }
      .land{
        width: calc(100% - 71%);
        margin-right: 18px;
      }
      .landing{
        width: calc(100% - 43%);
        height: 140px;
      }

@media only screen and (min-width: 1200px) {
        body{
          background-size: fill;
        }
        .card {
          float: right;
          width: 25%;
        }
        #map {
          width: calc(100% - 200px);
          width: 66%;
          margin-top: -24rem;
          height: 23rem;
        }
        .land{
          width: calc(100% - 71%);
          margin-right: 17px;
        }
        .landing{
          width: calc(100% - 42%);
          height: 9rem;
        }
@media only screen and (min-width: 1230px) {
          body{
            background-size: fill;
          }
          .card {
            float: right;
            width: 25%;
          }
          #map {
            width: calc(100% - 200px);
            width: 66%;
            margin-top: -22rem;
            height: 20rem;
          }
          .land{
            width: calc(100% - 71%);
            margin-right: 17px;
          }
          .landing{
            width: calc(100% - 42%);
            height: 9rem;
          }
@media only screen and (min-width: 1300px) {
          #map {
            margin-top: -22rem;
            width: 66%;
            height: 21rem;
          }